<html>
	<head>
		<title>
			<%= @title%>
		</title>
		<%= stylesheet_link_tag '/ext-3.4.0/resources/css/ext-all', '/ext-3.4.0/resources/css/xtheme-gray', 'main' %>
		<%= javascript_include_tag '/ext-3.4.0/adapter/ext/ext-base-debug', 
									'/ext-3.4.0/ext-all-debug', 
									'/ext-3.4.0/ux/RowExpander' %>
		<%= javascript_include_tag 'config','links'%>
		<% @js_files.each do |file| %>
			<%= javascript_include_tag file %>
		<% end %>
		<%= javascript_include_tag 'application'%>
	</head>
	<body>
		<%= yield %>
	</body>
</html>